<nav class="flex h-20 px-14 bg-slate-500 text-white justify-between 
items-center">
    <div class="text-4xl">
        Abc Hotel
    </div>
    <ul class="flex justify-evenly gap-6 text-xl">
        <li><a href="">Home</a></li>
        <li><a href="">Rooms</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contacts</a></li>
    </ul>
    <div class="flex gap-4 text-xl items-center">
        <span>User</span>
        <span>🎈</span>
    
        <button class="bg-slate-100 py-2 px-4 rounded-md text-black">Log Oug</button>
    </div>
</nav>
 